<!--  Replace menu links here -->

  <li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
  </li>
  <!--regular version
   <li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/categories.html">Categories</a>
  </li>
  -->
  <!--button version-->
  <div class="dropdown nav-item">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{site.baseurl}}/categories.html#reflection">Reflection</a>
    <a class="dropdown-item" href="{{site.baseurl}}/categories.html#teaching">Teaching</a>
    <a class="dropdown-item" href="{{site.baseurl}}/categories.html#work">Work</a>
  </div>
  </div>
<!--tab version
  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{site.baseurl}}/categories.html" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{site.baseurl}}/categories.html#reflection">Reflection</a>
        <a class="dropdown-item" href="{{site.baseurl}}/categories.html#teaching">Teaching</a>
        <a class="dropdown-item" href="{{site.baseurl}}/categories.html#work">Work</a>
      </div>
  </li>
  -->
  
  <li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
  </li>
