<!--  Replace menu links here -->
<ul class="nav nav-tabs">
  <li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
  </li>
   <li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/categories.html">Categories</a>
  </li>
  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{site.baseurl}}/categories.html" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{site.baseurl}}/categories.html#reflection">Reflection</a>
        <a class="dropdown-item" href="{{site.baseurl}}/categories.html#teaching">Teaching</a>
        <a class="dropdown-item" href="{{site.baseurl}}/categories.html#work">Work</a>
      </div>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
  </li>
</ul>
