<!--  Replace menu links here -->
<ul class="nav nav-tabs">
  <li class="nav-item">
  <a class="active" href="{{site.baseurl}}/index.html">Home</a>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="{{site.baseurl}}/categories.html">Categories</a>
     <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="{{site.baseurl}}/categories.html#reflection">Reflection</a></li>
        <li><a href="{{site.baseurl}}/categories.html#teaching">Teaching</a></li>
        <li><a href="{{site.baseurl}}/categories.html#work">Work</a></li>
      </ul>
    
  <li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
  </li>
</ul>
